.about__geotag {
  width: 100%;
  margin: 0 0 13px 27px;
  padding-top: 1px;
  padding-left: 36px;
  background-image: url('../../../images/icons/geo_tag.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
