.popup__title {
  margin: 0;
  padding-right: 35px;
  padding-bottom: 20px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -.5px;
}

@media screen and (min-width: 768px) {
  .popup__title {
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
  }
}
