.about {
  scroll-margin-top: 120px;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 744px) {
  .about {
    max-width: 744px;
  }
}

@media screen and (max-width: 468px) {
  .about {
    max-width: 290px;
    scroll-margin-top: 16px;
  }
}
