.about__image-container_line_orange::before {
  width: 116%;
  height: 84%;
  background-image: url('../../../../images/orange_line.svg');
  background-position: 0 191px;
}

@media screen and (max-width: 768px) {
  .about__image-container_line_orange::before {
    width: 115%;
    height: 84%;
    background-position: -27px 202px;
  }
}

@media screen and (max-width: 425px) {
  .about__image-container_line_orange::before {
    width: 118%;
    height: 88%;
    background-position: -2px 102px;
  }
}
