.courses__price-title {
  margin: 30px 0 0 30px;
  grid-area: title;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
