.logo__img {
  display: block;
  width: 101px;
  height: 100px;
  transition: all .5s ease;
}

@media screen and (max-width: 1110px) {
  .logo__img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 425px) {
  .logo__img {
    width: 101px;
    height: 100px;
  }
}
