.logo__img {
  display: block;
  transition: all .5s ease;
}

@media screen and (max-width: 1024px) {
  .logo__img {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .logo__img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 425px) {
  .logo__img {
    width: 101px;
    height: 100px;
  }
}
