.courses__buttons {
  display: flex;
  margin-top: auto;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .courses__buttons {
    margin-top: 15px;
  }
}

@media screen and (max-width: 425px) {
  .courses__buttons {
    flex-direction: column-reverse;
  }
}
