.courses__buttons {
  display: flex;
  align-items: center;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .courses__buttons {
    margin-top: 15px;
  }
}

@media screen and (max-width: 425px) {
  .courses__buttons {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}
