.courses__spec {
  display: flex;
  margin: 0 0 10px;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 0 center;
}

.courses__spec:last-of-type {
  margin-bottom: 0;
}
