.page__element_offset_l {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .page__element_offset_l {
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 425px) {
  .page__element_offset_l {
    margin-bottom: 30px;
  }
}
