.header__link {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  opacity: .6;
  transition: all ease-in-out .3s;
}

@media (max-width: 768px) {
  .header__link {
    font-size: 30px;
    font-weight: 600;
    max-width: 290px;
    display: block;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .header__link {
    font-size: 18px;
    font-weight: 400;
  }
}
