.header__link {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover {
  opacity: .6;
  transition: all ease-in-out .3s;
}
