.info__paragraph {
  max-width: 70%;
  margin: 0 0 0 120px;
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -1px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 912px) {
  .info__paragraph {
    margin-left: 50px;
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 500px) {
  .info__paragraph {
    min-width: 290px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.5px;
  }
}
