.about__image-container {
  position: relative;
  z-index: 1;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 40px;
  padding: 0 0 30px 30px;
  overflow: hidden;
  background-size: cover;
  aspect-ratio: 8/7;
}

.about__image-container::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left bottom;
  content: '';
}

@media screen and (max-width: 768px) {
  .about__image-container {
    border-radius: 50px;
  }
}

@media screen and (max-width: 425px) {
  .about__image-container {
    margin-bottom: 30px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-radius: 30px;
  }
}
