.about__list {
  display: grid;
  gap: 10px;
  grid-template-columns: fit-content(595px) fit-content(595px);
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about__list {
    gap: 80px;
    grid-template-columns: fit-content(595px);
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .about__list {
    gap: 60px;
  }
}

