.tag {
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 50px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
