.partners {
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px calc(50% - 443px) 160px;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (min-width: 425px) {
  .partners {
    padding-bottom: 80px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

@media screen and (min-width: 768px) {
  .partners {
    padding: 80px 0 120px;
  }
}
