.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: -1000px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 0 76px;
    background-color: #ffffff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all .5s ease-in-out;
  }
}

@media screen and (max-width: 425px) {
  .header__nav {
    padding: 10px 0 30px;
  }
}
