.intro__text {
  /* margin: 0 330px 0 0; */
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.5px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
