.header__burger {
  position: relative;
  display: none;
  z-index: 5;
  width: 28px;
  height: 29px;
  margin: 0 77px 0 0;
}

.header__burger::before {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  border-radius: 2px;
  height: 1px;
  border: 1px solid #252525;
  background-color: #252525;
  transition: all .4s ease-in-out;
  content: '';
}

.header__burger::after {
  top: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 2px;
  height: 1px;
  border: 1px solid #252525;
  background-color: #252525;
  transition: all .4s ease-in-out;
  content: '';
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .header__burger {
    margin-right: 15px;
  }
}
