@media (max-width: 768px) {
  .logo__mobile {
    display: block;
    width: 192px;
    height: 36px;
    margin-left: 75px;
    background-image: url('../../../images/logo-small.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 425px) {
  .logo__mobile {
    width: 101px;
    height: 22px;
    margin-left: 15px;
  }
}
