.courses__price {
  display: grid;
  grid-template-rows: 1fr 94px;
  grid-template-columns: 1fr calc((100% + 20px) / 3) 1fr;
  grid-template-areas:
    'title includes not-includes'
    'button includes not-includes';
  width: calc(100% - 20px);
  margin: 0;
  column-gap: 10px;
  background-color: #d0ddff;
}
