.courses__price {
  display: grid;
  grid-template-rows: 1fr 94px;
  grid-template-columns: 1fr calc((100% + 20px) / 3) 1fr;
  grid-template-areas:
    'title includes not-includes'
    'button includes not-includes';
  width: calc(100% - 20px);
  margin: 0;
  column-gap: 10px;
  background-color: #d0ddff;
}

@media screen and (max-width: 768px) {
  .courses__price {
    grid-template-areas:
      'title'
      'includes'
      'not-includes'
      'button';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
    padding: 30px;
    gap: 30px;
    border-radius: 50px;
    max-width: 594px;
  }
}

@media screen and (max-width: 425px) {
  .courses__price {
    padding: 15px;
    gap: 20px;
    border-radius: 30px;
  }
}
