.about__image-title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 3;
  width: 100%;
  max-width: 429px;
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  font-style: normal;
  line-height: 56px;
  letter-spacing: -1px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

