.courses__spec-text {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -.5px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 425px) {
  .courses__spec-text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: unset;
  }
}

