.intro {
  justify-content: space-between;
  /* height: 852px; */
  background-image: url('../../images/image-109150.jpg');
  background-repeat: no-repeat;
  background-position: 63% 73%;
  background-size: 159%;
  aspect-ratio: 120 / 71;
}

@media screen and (max-width: 600px) {
  .intro {
    background-position: 59% 58%;
    background-size: 308%;
    aspect-ratio: 160 / 281;
  }
}
