.intro {
  display: grid;
  grid-template-rows: 340px 104px 1fr;
  justify-items: center;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, .4) 0%,
    rgba(0, 0, 0, 0) 100%
  ),
    url('../../images/intro_image.jpg');
  background-repeat: no-repeat;
  background-position: 63% 73%;
  background-size: 156%;
  aspect-ratio: 120 / 71;
}

@media screen and (max-width: 1050px) {
  .intro {
    grid-template-rows: 238px 66px 1fr;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    grid-template-rows: 215px 52px 1fr;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    grid-template-rows: 282px 52px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    background-position: 59% 48%;
    background-size: 306%;
    aspect-ratio: 160 / 281;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    grid-template-rows: 236px 52px;
  }
}
