.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 120px 0 0;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-top: 80px;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding-top: 30px;
  }
}
