.wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 120px 0 0;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 80px 75px 0;
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    padding: 30px 15px 0;
    border-radius: 0;
  }
}
