.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
}

@media (max-width: 768px) {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  .logo__mob {
    display: block;
    margin-left: 20px;
    width: 192px;
    height: 36px;
    background-image: url('../../images/logo-small.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
