.principles__list {
  display: flex;
  width: 300%;
}

@media screen and (max-width: 768px) {
  .principles__list {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .principles__list {
    gap: 30px;
  }
}
