.courses__code {
  width: 100%;
  margin: 0;
  padding: 0 0 10px;
  background-color: #ffd643;
  border-radius: 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .courses__code {
    max-width: 654px;
    border-radius: 60px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .courses__code {
    max-width: 654px;
    border-radius: 40px;
    padding: 0 10px 10px;
  }
}
